.App {
  text-align: center;
}

.text-brand{
  color: #1cc7c1;
}
.btn-brand{
  background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
  color: #fff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
